.header{
    background-color: rgb(255, 255, 255);
}

.logo{
    width: auto;
    height: 80px;
    padding: 7px;
    margin-left: 128px;
}
.header-contact{
    text-decoration: none;
    border: 2px gray solid;
    border-radius: 6px;
    padding: 0.7rem;
    color: gray;
    float: right;
    font-weight: 600;
    margin-right: 128px;
    margin-top: 12px;
}
.header-contact:hover{
    color: white;
    background-color: rgb(159, 225, 255);
    transition: 0.5s;
    border: 2px rgb(159, 225, 255) solid;
}